{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    // Possible Errors
    "no-cond-assign": ["error", "always"],
    "no-constant-condition": ["warn"],
    "no-dupe-args": ["error"],
    "no-duplicate-case": ["error"],
    "no-empty": ["warn", { "allowEmptyCatch": true }],
    "no-extra-boolean-cast": ["warn"],
    "no-extra-parens": ["warn", "all", { "nestedBinaryExpressions": false }],
    "no-func-assign": ["error"],
    "no-inner-declarations": ["warn", "both"],
    "no-irregular-whitespace": ["warn"],
    "no-obj-calls": ["error"],
    "no-sparse-arrays": ["warn"],
    "no-unexpected-multiline": ["error"],
    "no-unreachable": ["warn"],
    "no-unsafe-negation": ["error"],
    "valid-typeof": ["error", { "requireStringLiterals": true }],

    // Best Practices
    "array-callback-return": ["warn"],
    "block-scoped-var": ["warn"],
    "complexity": ["error", 16],
    "consistent-return": ["off"],
    "curly": ["warn", "all"],
    "dot-location": ["warn", "property"],
    "dot-notation": ["warn"],
    "eqeqeq": ["error", "always"],
    "no-case-declarations": ["warn"],
    "no-else-return": ["warn"],
    "no-empty-function": ["warn"],
    "no-empty-pattern": ["error"],
    "no-eq-null": ["error"],
    "no-fallthrough": ["error"],
    "no-floating-decimal": ["warn"],
    "no-global-assign": ["error"],
    "no-implicit-coercion": ["warn"],
    "no-lone-blocks": ["warn"],
    "no-loop-func": ["error"],
    "no-magic-numbers": ["off"],
    "no-multi-spaces": ["warn"],
    "no-multi-str": ["error"],
    "no-new": ["warn"],
    "no-new-func": ["warn"],
    "no-new-wrappers": ["warn"],
    "no-param-reassign": ["error", { "props": false }],
    "no-redeclare": ["error", { "builtinGlobals": true }],
    "no-return-assign": ["off"],
    "no-self-assign": ["error", { "props": true }],
    "no-self-compare": ["error"],
    "no-sequences": ["error"],
    "no-throw-literal": ["error"],
    "no-unmodified-loop-condition": ["error"],
    "no-unused-expressions": ["warn", { "allowShortCircuit": true, "allowTernary": true }],
    "no-useless-call": ["warn"],
    "no-useless-concat": ["warn"],
    "no-useless-return": ["warn"],
    "no-with": ["error"],
    "prefer-promise-reject-errors": ["error"],
    "yoda": ["warn", "never"],

    // Variables
    "init-declarations": ["off"],
    "no-catch-shadow": ["error"],
    "no-delete-var": ["error"],
    "no-shadow": ["warn", { "builtinGlobals": false }],
    "no-undef": ["error"],
    "no-undef-init": ["error"],
    "no-undefined": ["off"],
    "no-unused-vars": ["error", { "args": "none" }],

    // Stylistic Issues
    "array-bracket-spacing": ["warn", "never"],
    "block-spacing": ["warn", "always"],
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "camelcase": ["warn"],
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["warn", { "before": false, "after": true }],
    "comma-style": ["warn", "last"],
    "computed-property-spacing": ["warn", "never"],
    "eol-last": ["warn", "always"],
    "func-call-spacing": ["warn", "never"],
    "func-names": ["warn", "as-needed"],
    "func-style": ["warn", "declaration"],
    "id-length": ["warn", { "properties": "never", "min": 3, "max": 21, "exceptions": ["x", "y"] }],
    "indent": ["warn", 2, { "VariableDeclarator": { "var": 2, "let": 2, "const": 3 } }],
    "key-spacing": ["warn", { "beforeColon": false, "afterColon": true, "mode": "strict" }],
    "keyword-spacing": ["warn", { "before": true, "after": true }],
    "max-depth": ["warn", 3],
    "max-len": ["warn", { "code": 80, "ignoreComments": true }],
    "max-nested-callbacks": ["warn", 3],
    "newline-after-var": ["off", "always"],
    "newline-before-return": ["warn"],
    "newline-per-chained-call": ["warn", { "ignoreChainWithDepth": 2 }],
    "no-continue": ["warn"],
    "no-lonely-if": ["warn"],
    "no-mixed-spaces-and-tabs": ["warn"],
    "no-multi-assign": ["error"],
    "no-multiple-empty-lines": ["warn", { "max": 2 }],
    "no-tabs": ["warn"],
    "no-unneeded-ternary": ["error"],
    "no-whitespace-before-property": ["warn"],
    "object-curly-newline": ["warn", {
        "ObjectExpression": { "minProperties": 2 },
        "ObjectPattern": { "minProperties": 3 }
    }],
    "object-curly-spacing": ["warn", "always"],
    "object-property-newline": ["warn"],
    "one-var": ["off", "never"],
    "one-var-declaration-per-line": ["warn", "always"],
    "operator-assignment": ["warn", "always"],
    "operator-linebreak": ["warn", "after"],
    "padded-blocks": ["warn", "never"],
    "quote-props": ["warn", "consistent-as-needed"],
    "quotes": ["warn", "single"],
    "semi": ["error", "always"],
    "space-before-blocks": ["warn", "always"],
    "space-before-function-paren": ["warn", "always"],
    "space-in-parens": ["warn", "never"],
    "space-infix-ops": ["error"],
    "space-unary-ops": ["warn", {"words": true, "nonwords": false}],

    // ECMAScript 6
    "arrow-body-style": ["warn", "as-needed"],
    "arrow-parens": ["warn", "as-needed"],
    "arrow-spacing": ["warn", { "before": true, "after": true }],
    "no-confusing-arrow": ["warn", {"allowParens": true}],
    "no-const-assign": ["error"],
    "no-duplicate-imports": ["warn"],
    "no-useless-computed-key": ["error"],
    "no-useless-rename": ["warn"],
    "no-var": ["error"],
    "object-shorthand": ["warn", "always", { "avoidQuotes": true }],
    "prefer-arrow-callback": ["warn", { "allowNamedFunctions": true }],
    "prefer-const": ["warn"],
    "prefer-destructuring": ["warn"],
    "prefer-rest-params": ["warn"],
    "prefer-spread": ["warn"],
    "prefer-template": ["warn"],
    "rest-spread-spacing": ["warn", "never"]
  }
}
