// Type -----------------------------------------------------------------------
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.35;

$font-weight-normal: 400;
$font-weight-bold: 700;

$headings-color: inherit;
$headings-font-family: inherit;
$headings-font-weight: 500;
$headings-line-height: 1;

$font-scale-0: 0.85rem;
$font-scale-1: 1rem;
$font-scale-2: 1.25rem;
$font-scale-3: 1.563rem;
$font-scale-4: 1.953rem;
$font-scale-5: 2.441rem;
$font-scale-6: 3.052rem;
$font-scale-7: 3.815rem;
$font-scale-7: 4.768rem;
$font-scale-8: 5.96rem;
$font-scale-9: 7.451rem;
