<header>
  <div class="cover flex flex-align-end">
    <div class="cover-title flex flex-justify-center">
      {% include logo.svg color="black" %}
      <h1>{{ site.title | escape }}</h1>
    </div>
  </div>

  <div class="social-nav">
    <div class="nav-wrapper flex">
      <nav>
        <ul class="links flex">
          <li>
            {% if page.url == "/" %}
            <a class="flex flex-justify-center active" href="#">
            {% else %}
            <a class="flex flex-justify-center" href="/">
            {% endif %}
              <svg viewBox="0 0 24 24">
                  <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
              Home
            </a>
          </li>

          <li class="separator">
            {% if page.url == "/blog/" %}
            <a class="flex flex-justify-center active" href="/blog">
            {% else %}
            <a class="flex flex-justify-center" href="/blog">
            {% endif %}
              <svg viewBox="0 0 24 24">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path fill="#212121" d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4z"/>
              </svg>
              Blog
            </a>
          </li>

          {% if site.social.github %}
            <li>
              <a class="flex flex-justify-center" href="https://github.com/{{ site.social.github }}/">
                {% include github.svg %}
                Github
              </a>
            </li>
          {% endif %}
          {% if site.social.deviantart %}
            <li>
              <a class="flex flex-justify-center" href="http://{{ site.social.deviantart }}.deviantart.com/">
                <svg viewBox="0 91.912 136.46 214.31">
                   <polygon fill="#05CC47" points="131.459,134.061 131.459,96.913 131.447,96.913 94.312,96.913 90.605,100.651 73.075,134.057 67.564,137.775 5.001,137.775 5.001,188.791 39.396,188.791 42.458,192.496 5.001,264.072 5.001,301.221 5.011,301.221 42.15,301.221 45.857,297.483 63.385,264.077 68.9,260.359 131.459,260.359 131.459,209.343 97.068,209.343 94.006,205.613 "/>
                </svg>
                DeviantArt
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>
