<header>
  <div class="topbar">
    <div class="topbar__content">
      <ul class="topbar__list">
        {% if site.social.github %}
          <li class="topbar__list-item">
            <a class="topbar__link" href="https://github.com/{{ site.social.github }}/">
              {% include github.svg class="topbar__icon" %}
              Github
            </a>
          </li>
        {% endif %}

        <li class="topbar__list-item">
          <a class="topbar__link" href="mailto:admin@stephenlam.me">
            {% include mail.svg class="topbar__icon" %}
            E-mail
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="title">
    <h1 class="title__content">
      {% include logo.svg class="logo" %}
      {{ site.title | escape }}
    </h1>
  </div>
</header>
