@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/*-------------------------------------------------------*/

body {
  @include display(flex);
  @include align-items(stretch);
  @include justify-content(flex-start);

  @include flex-direction(column);

  @media (min-width: 1440px) {
    @include flex-direction(row);
    @include align-items(center);
  }

  background-color: $brand-color;

  @include animation-name(fade-in);
  @include animation-duration(300ms);
  @include animation-timing-function($ease-in-sine);
}
/*-------------------------------------------------------*/

h1,
h2,
h3 {
  margin-top: 0;
  @extend %medium-bottom-margin;
}

h1 { margin-bottom: 0; }
/*-------------------------------------------------------*/

p {
  margin-top: 0;
  @extend %large-bottom-margin;
}
/*-------------------------------------------------------*/

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}
/*-------------------------------------------------------*/

a {
  color: $brand-color;
  text-decoration: none;
}

a:hover { text-decoration: underline; }
/*-------------------------------------------------------*/

.wrapper {
  margin: 0 auto;
  max-width: $content-width;

  @media (min-width: 1440px) { margin: 0; }
}

main {
  position: relative;
  z-index: 1;

  @include flex-grow(1);
  @include flex-shrink(0);

  padding: $large-em-space $large-rem-space 0 $large-rem-space;
}
/*-------------------------------------------------------*/
