@keyframes fade-up {
  0% {
    @include transform(translateY(3%));
  }

  100% {
    @include transform(translateY(0));
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/*-------------------------------------------------------*/

body {
  background: linear-gradient(170deg, $orange-white 0, $blue-white-3 100%) top left / auto no-repeat fixed $orange-white;

  @include animation-name(fade-in);
  @include animation-duration(300ms);
  @include animation-timing-function($ease-in-sine);
}
/*-------------------------------------------------------*/

header,
main {
  @extend %large-bottom-margin;
}

header { padding: 0 0 $large-em-space; }

main {
  position: relative;
  z-index: 1;

  padding: $large-em-space $large-rem-space;
}
/*-------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  @extend %medium-bottom-margin;

  color: $text-color;
}

h1 { margin-bottom: 0; }
/*-------------------------------------------------------*/

p {
  margin-top: 0;
  @extend %large-bottom-margin;
}
/*-------------------------------------------------------*/

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}
/*-------------------------------------------------------*/

a {
  color: $brand-color;
  text-decoration: none;
}

a:hover { text-decoration: underline; }
/*-------------------------------------------------------*/

img {
  display: block;
  width: 100%;
}

article img {
  margin-top: -$large-em-space;
}
/*-------------------------------------------------------*/

.content {
  @extend %large-bottom-margin;

  &:last-child { margin-bottom: 0; }

  @include animation-name(fade-up, fade-in);
  @include animation-timing-function($ease-out-quart, ease);
  @include animation-duration(1300ms, 900ms);
  @include animation-fill-mode(forwards, forwards);
  @include animation-delay(0, 150ms);
}

.subtitle {
  font-size: .85em;

  p {
    padding: $large-em-space;

    background-color: transparentize($blue-white-1, .3);
  }
}
/*-------------------------------------------------------*/

.description,
.bio {
  @extend %large-bottom-margin;
}
/*-------------------------------------------------------*/

footer {
  position: relative;
  z-index: 2;

  margin-right: $large-rem-space;
  margin-left: $large-rem-space;
  padding: $large-em-space $large-rem-space;

  background-color: transparentize($blue-white-1, .4);
  box-shadow: $shadow;
}
/*-------------------------------------------------------*/

.disabled { cursor: not-allowed; }
/*-------------------------------------------------------*/
