@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/*-------------------------------------------------------*/

body {
  @include display(flex);
  @include align-items(stretch);
  @include justify-content(flex-start);
  @include flex-direction(column);

  background: linear-gradient(170deg, #e8e6e6 0, shade($orange-white, 8%) 100%) top left / auto no-repeat fixed #e8e6e6;

  @include animation-name(fade-in);
  @include animation-duration(300ms);
  @include animation-timing-function($ease-in-sine);
}
/*-------------------------------------------------------*/

h1,
h2,
h3 {
  margin-top: 0;
  @extend %medium-bottom-margin;
}

h1 { margin-bottom: 0; }
/*-------------------------------------------------------*/

p {
  margin-top: 0;
  @extend %large-bottom-margin;
}
/*-------------------------------------------------------*/

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}
/*-------------------------------------------------------*/

a {
  color: $brand-color;
  text-decoration: none;
}

a:hover { text-decoration: underline; }
/*-------------------------------------------------------*/

.wrapper {
  margin: 0 auto;
  max-width: $content-width;
}

main {
  position: relative;
  z-index: 1;

  @include flex-grow(1);
  @include flex-shrink(0);

  padding: ($large-em-space * 2) $large-rem-space ($large-em-space * 2) $large-rem-space;

  background-color: #bf2626;
  background-image: url('../img/logo-dark.svg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*-------------------------------------------------------*/
