$brand-color: #bf2626;

$black: rgb(33, 33, 33);

$blue-white: rgb(245, 250, 249);
$orange-white: rgb(247, 245, 240);
/*-------------------------------------------------------*/

$shadow-small: 0 2px 5px transparentize($black, .8);;
$shadow-large: 0 5px 10px transparentize($black, .77);
