$brand-color:  #bf2626;

$black:        rgb(33, 33, 33);

$text-color:   $black;
/*-------------------------------------------------------*/

$blue-white:        rgb(245, 250, 249);

$blue-white-1:      $blue-white;
$blue-white-2:      shade($blue-white, 6%);
$blue-white-3:      shade($blue-white, 9%);
$blue-white-4:      shade($blue-white, 12%);
$blue-white-5:      shade($blue-white, 18%);
$blue-white-6:      shade($blue-white, 30%);
$blue-white-7:      shade($blue-white, 40%);
/*-------------------------------------------------------*/

$orange-white:      rgb(247, 245, 240);
/*-------------------------------------------------------*/

$shadow-small:       0 1px 5px transparentize($black, .88);
$shadow-large:       0 1px 8px transparentize($black, .75);
/*-------------------------------------------------------*/
