.logo {
  max-width: 2.55em;
  height: 2.55em;

  @media (min-width: 576px) {
    max-width: 3.25em;
    height: 3.25em;
  }

  &.brand-color polygon { fill: $brand-color; }
  &.black polygon { fill: $black; }
  &.blue-white polygon { fill: $blue-white; }
  &.orange-white polygon { fill: $orange-white; }
}
/*-------------------------------------------------------*/

.cover {
  @extend %medium-bottom-margin;
  height: max($cover-height - 50px, 50px);
  padding: 0 $large-rem-space;

  @media (min-width: 576px) {
    height: $cover-height;
  }

  h1 {
    padding: $small-em-space;
    overflow: hidden;

    font-size: 2em;
    font-weight: 700;
    white-space: nowrap;

    @media (min-width: 576px) {
      font-size: 2.75em;
    }
  }
}
/*-------------------------------------------------------*/
