$base-font-family:  Arial, sans-serif;
$base-font-size:    16px;
$base-line-height:  1.5;
/*-------------------------------------------------------*/

html {
  text-size-adjust: 100%;
  font-size: $base-font-size;
}

body {
  font-size: 1rem;
  font-family: $base-font-family;
  line-height: $base-line-height;
  letter-spacing: -0.25px;

  .fonts-loaded & {
    font-family: FuturaBT-Book, sans-serif;
    letter-spacing: 0;
  }
}
/*-------------------------------------------------------*/
h1 { font-size: 396%; }
h2 { font-size: 198%; }
h3 { font-size: 136%; }

h1,
h2,
h3 {
  font-weight: 600;
  letter-spacing: -1px;

  .fonts-loaded & { letter-spacing: 0; }
}

h1 {
  .fonts-loaded & { font-family: FuturaBT-Bold, sans-serif; }
}

h2 {
  .fonts-loaded & { font-family: FuturaBT-Bold, sans-serif; }
}

h3 {
  font-weight: 400;
  .fonts-loaded & {
    font-family: FuturaBT-Medium, sans-serif;
  }
}
/*-------------------------------------------------------*/
