@keyframes zoom-in {
  0% { @include transform(translateY(12%)); opacity: 0; }
  100% { @include transform(translateY(0)); opacity: 1; }
}

.gallery {
  @extend %flex;
  @include flex-wrap(wrap);
  @include align-items(stretch);

  margin-right: -$medium-rem-space;
  margin-left: -$medium-rem-space;

  @include align-content(space-between);
}
/*-------------------------------------------------------*/

.card {
  margin-bottom: ($large-em-space * 2);

  @include flex(0 0 100%);

  @media (min-width: 576px) {
    width: 50%;

    @include flex(0 0 50%);
  }

  opacity: 0;
  @include transform(translateY(12%));

  @include animation-name(zoom-in);
  @include animation-timing-function($ease-in-out-quad);
  @include animation-duration(600ms);
  @include animation-fill-mode(forwards);
  @include animation-delay(123ms);
}

.card__wrapper {
  @extend %flex;
  @include align-items(stretch);
  @include flex-direction(column);

  margin-right: $large-rem-space;
  margin-left: $large-rem-space;
  @extend %full-height;

  overflow: hidden;
  border-radius: 5px;
  border-bottom: 3px solid tint($brand-color, 30%);
  box-shadow: $shadow-small;

  will-change: transform;

  &:hover {
    box-shadow: $shadow-large;
    @include transform(translateZ(0) translateY(-4px));
  }

  @include transition(transform 188ms 33ms $ease-in-out-sine, box-shadow 109ms 33ms linear);
}
/*-------------------------------------------------------*/

.card__content {
  @extend %flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include flex-grow(1);

  background-color: $blue-white;
}
/*-------------------------------------------------------*/

.card__title {
  margin-bottom: 0;
  padding: 0 $medium-rem-space;

  color: $black;
}
/*-------------------------------------------------------*/

.card__links {
  @extend %flex;
  @include flex-wrap(wrap);

  @extend %medium-bottom-margin;
  height: 2em;
  padding: 0 $medium-rem-space;

  li {
    margin: $small-em-space $medium-rem-space $small-em-space 0;
    @extend %full-height;
  }
}

.card__links-item--disabled { cursor: not-allowed; }

.card__link {
  @extend %flex;

  @extend %full-height;
  padding: $small-em-space $medium-rem-space;

  color: $blue-white;
  white-space: nowrap;
  text-decoration: none;

  background-color: $brand-color;
  border-radius: 4px;

  &:hover {
    color: $blue-white;
    text-decoration: none;

    background-color: shade($brand-color, 15%);
  }

  svg {
    margin-right: $small-rem-space;
    @extend %full-height;
    padding: $small-em-space .1rem;

    fill: $blue-white;
  }
}

.card__links-item--disabled .card__link {
  opacity: .7;
  background-color: tint($black, 20%);

  pointer-events: none;
}
/*-------------------------------------------------------*/

.card__subtitle {
  @include flex-grow(1);
  @extend %medium-bottom-margin;
  padding: 0 $medium-rem-space;
}
/*-------------------------------------------------------*/
