.gallery {
  @extend %flex;
  @include flex-wrap(wrap);
  @include align-items(stretch);

  margin-right: -$medium-rem-space;
  margin-left: -$medium-rem-space;

  @include align-content(space-between);
}
/*-------------------------------------------------------*/

.card {
  margin-bottom: ($large-em-space * 2);

  @include flex(0 0 100%);

  @media (min-width: 576px) {
    width: 50%;

    @include flex(0 0 50%);
  }
}

.card-wrapper {
  @extend %flex;
  @include align-items(stretch);
  @include flex-direction(column);

  margin-right: $large-rem-space;
  margin-left: $large-rem-space;
  @extend %full-height;

  color: $blue-white;
  box-shadow: $shadow-small;

  will-change: transform;

  &:hover {
    box-shadow: $shadow-large;
    @include transform(translateZ(0) translateY(-4px));
  }

  @include transition(transform 188ms 33ms $ease-in-out-sine, box-shadow 109ms 33ms linear);
}
/*-------------------------------------------------------*/

.card__image {
  @include flex-shrink(0);
  @include flex-basis(auto);

  background-color: $black;
}

.card__content {
  @extend %flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include flex-grow(1);

  background-color: $black;
}
/*-------------------------------------------------------*/

.card__title {
  margin-bottom: 0;
  padding: 0 $medium-rem-space;

  color: $blue-white;
}
/*-------------------------------------------------------*/

.card__links {
  @extend %flex;
  @include flex-wrap(wrap);

  @extend %medium-bottom-margin;
  height: 2em;
  padding: 0 $medium-rem-space;

  li {
    margin: $small-em-space $medium-rem-space $small-em-space 0;
    @extend %full-height;
  }
}

.card__link {
  @extend %flex;

  @extend %full-height;
  padding: $small-em-space $medium-rem-space;

  color: $blue-white;
  white-space: nowrap;

  background-color: $brand-color;
  border-radius: 4px;

  &:hover {
    color: $blue-white;
    background-color: shade($brand-color, 15%);

    text-decoration: none;
  }

  .disabled & {
    opacity: .7;
    background-color: tint($black, 20%);

    pointer-events: none;
  }

  svg {
    margin-right: $small-rem-space;
    @extend %full-height;
    padding: $small-em-space .1rem;

    fill: $blue-white;
  }
}
/*-------------------------------------------------------*/

.card__subtitle {
  @include flex-grow(1);
  @extend %medium-bottom-margin;
  padding: 0 $medium-rem-space;
}
/*-------------------------------------------------------*/
