@keyframes skew-up {
  0% { @include transform(skewY(0)); }
  100% { @include transform(skewY(0)); }
}

@keyframes fade-up {
  0% { @include transform(translateY(4%)); }
  100% { @include transform(translateY(0)); }
}

@keyframes slide-in {
  0% { @include transform(scaleX(0)); }
  100% { @include transform(scaleX(1)); }
}
/*-------------------------------------------------------*/

.intro {
  position: relative;

  height: auto;
  @media screen and (min-width: 800px) { height: 100%; }

  background-image: url('../img/logo.svg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include flex-shrink(0);
}
/*-------------------------------------------------------*/

.intro__content {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  height: 100%;
  padding: ($large-em-space * 3) 8% ($medium-em-space * 2) 10%;

  @include animation-name(fade-up);
  @include animation-timing-function($ease-out-circ);
  @include animation-duration(1444ms);
  @include animation-fill-mode(forwards);
  @include animation-delay(44ms);
}

.intro__title {
  position: relative;

  margin-bottom: ($small-em-space / 2);

  color: $brand-color;
  font-size: 400%;
  line-height: 1;
  @media (min-width: 380px) { font-size: 500%; }
  @media (min-width: 500px) { font-size: 685%; }
  .fonts-loaded & { font-weight: 400; }
}

.intro__logo {
  @include position(absolute, 0 null null 0);
  z-index: 0;

  @include size(88px);
  padding: 0;

  fill: $brand-color;
}

.intro__description {
  position: relative;

  padding: 0 0 $small-em-space 24px;

  font-size: 213%;
  @media (min-width: 380px) { font-size: 262%; }
  line-height: 1.2;
  .fonts-loaded & { font-family: FuturaBT-Medium; }

  span { letter-spacing: -4px; }
}

.intro__description:before {
  content: '';

  @include position(absolute, null 0 0 24px);

  height: 5px;

  background-color: $brand-color;
  transform-origin: 0 50% 0;

  @include animation-name(slide-in);
  @include animation-timing-function($ease-out-circ);
  @include animation-duration(1444ms);
  @include animation-fill-mode(forwards);
  @include animation-delay(44ms);
}
/*-------------------------------------------------------*/
