@keyframes skew-up {
  0% { @include transform(skewY(0)); }
  100% { @include transform(skewY(0)); }
}

@keyframes fade-up {
  0% { @include transform(translateY(4%)); }
  100% { @include transform(translateY(0)); }
}
/*-------------------------------------------------------*/

.intro {
  position: relative;

  margin-bottom: $large-em-space;
  height: 222px;

  @include flex-shrink(0);
}
/*-------------------------------------------------------*/

.intro__content {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  margin: 0 auto;
  max-width: $content-width;
  height: 100%;
  padding: 0 $medium-rem-space 0 $medium-rem-space;

  @include animation-name(fade-up);
  @include animation-timing-function($ease-out-circ);
  @include animation-duration(1444ms);
  @include animation-fill-mode(forwards);
  @include animation-delay(44ms);
}

.intro__title {
  position: relative;
  padding: 55px 0 $small-em-space 55px;
  overflow: hidden;

  color: $black;
  line-height: 0.77;

  .fonts-loaded & { font-weight: 400; }
}

.intro__name {
  position: relative;
  z-index: 1;

  font-size: 0.787em;

  @media (min-width: 350px) { font-size: 1em; }
}

.intro__logo {
  @include position(absolute, 0 null null 0);
  z-index: 0;

  @include size(88px);
  padding: 0;

  fill: $brand-color;
}

.intro__links { padding: 0 0 $small-em-space 55px; }
/*-------------------------------------------------------*/
