.social-nav { height: $nav-height; }
/*-------------------------------------------------------*/

.nav-wrapper {
  margin: 0 $large-rem-space;
  @extend %full-height;
  overflow: hidden;

  background-color: tint($orange-white, 30%);
  box-shadow: $shadow;
}
/*-------------------------------------------------------*/

nav { @extend %full-height; }
/*-------------------------------------------------------*/

.links {
  @extend %full-height;

  li {
    position: relative;

    @extend %full-height;
  }

  .separator { padding-right: 2px; }

  .separator:after {
    content: '';

    @include position(absolute, $small-em-space 0 $small-em-space null);
    width: 2px;

    background-color: $blue-white-3;
  }

  a {
    position: relative;

    margin-right: $medium-rem-space;
    margin-left: $medium-rem-space;
    @extend %full-height;

    color: $text-color;
  }

  a:hover{
    color: $brand-color;
    text-decoration: none;
  }

  a:after {
    content: '';

    @include position(absolute, null 0 0 0);

    height: 4px;

    background-color: $brand-color;
    @include transform(translateY(100%));

    @include transition(transform 80ms 20ms linear);
  }

  a.active:after { background-color: $black; }
  a.active:hover:after { background-color: $brand-color; }

  a:hover:after,
  a.active:after {
    @include transform(translateY(0));
  }

  svg {
    width: 0;
    @extend %full-height;
    padding: 0;

    opacity: 0;

    @include transition(opacity 260ms 10ms linear);

    @media (min-width: 310px) {
      width: auto;
      padding: $large-em-space $medium-rem-space $large-em-space .1rem;

      opacity: 1;
    }
  }
}
/*-------------------------------------------------------*/
