.social-nav { height: $nav-height; }
/*-------------------------------------------------------*/

.nav-wrapper {
  margin: 0 $large-rem-space;
  @extend %full-height;
  overflow: hidden;

  background-color: tint($orange-white, 30%);
  box-shadow: $shadow;
}
/*-------------------------------------------------------*/

nav { @extend %full-height; }
/*-------------------------------------------------------*/

.links {
  @extend %full-height;

  li { @extend %full-height; }

  a {
    position: relative;

    margin-right: $medium-rem-space;
    margin-left: $medium-rem-space;
    @extend %full-height;
  }

  a:after {
    content: '';

    @include position(absolute, null 0 0 0);

    height: 4px;

    background-color: $brand-color;
    @include transform(translateY(100%));

    @include transition(transform 80ms 20ms linear);
  }

  a:hover:after,
  a.active:after {
    @include transform(translateY(0));
  }

  svg {
    @extend %full-height;
    padding: $large-em-space $medium-rem-space;
  }
}
/*-------------------------------------------------------*/
