.section {
  @extend %large-bottom-margin;
  &:last-child { margin-bottom: 0; }
}

.section__header {
  margin-bottom: $small-em-space;
  margin-left: $small-rem-space;

  color: $blue-white;
  font-size: 200%;
  @media (min-width: 500px) { font-size: 288%; }
}
