$content-width:  888px;

$large-em-space: 1em;
$medium-em-space: .5em;
$small-em-space: .25em;

$large-rem-space: 1rem;
$medium-rem-space: .5rem;
$small-rem-space: .25rem;
/*-------------------------------------------------------*/

%full-height { height: 100%; }

%large-bottom-margin { margin-bottom: $large-em-space; }
%medium-bottom-margin { margin-bottom: $medium-em-space; }
/*-------------------------------------------------------*/

html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}
/*-------------------------------------------------------*/

html,
body {
  @extend %full-height;
}
/*-------------------------------------------------------*/

%flex {
  @include display(flex);
  @include align-items(center);
}
/*-------------------------------------------------------*/
