@keyframes fade-down-large {
  0% {
    @include transform(translateY(-15%));
  }

  100% {
    @include transform(translateY(0));
  }
}
/*-------------------------------------------------------*/

.title {
  @include display(flex);
  @include align-items(center);

  margin: 0 auto;
  max-width: $content-width;
  padding: 30px $large-rem-space 30px $large-rem-space;

  @include animation-name(fade-in);
  @include animation-timing-function(linear);
  @include animation-duration(555ms);
  @include animation-fill-mode(forwards);
  @include animation-delay(0);
}

.title__content {
  position: relative;
  padding: 50px 0 $small-em-space 55px;
  overflow: hidden;

  line-height: 1;

  .fonts-loaded & { font-weight: 400; }
}
/*-------------------------------------------------------*/
