.plate {
  @include intro(plate);

  position: absolute;
  top: 0;
  z-index: 131;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  min-width: min-content;

  width: calc(100% - 50px);
  max-width: 411px;
  padding: 18px 40px 26px;

  backface-visibility: hidden;
  background-color: $accent;

  overflow: hidden;

  animation-fill-mode: both;
  will-change: transform;

  &:before {
    @include intro(plate-background);

    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $white;

    transform-origin: 0 0;

    animation-fill-mode: both;
  }

  &:after {
    @include intro(subtitle);

    content: 'A display for ants';

    display: none;
    color: $white;

    animation-fill-mode: backwards;
  }

  @media (max-width: 375px) { padding: 14px 32px 18px; }

  @media (max-height: 340px) { width: 55%; }

  @media (max-height: 260px) {
    width: 45%;
    padding: 9px 24px 11px;
  }

  @media (max-height: 200px) {
    &:after { display: block; }
  }
}

// ----------------------------------------------------------------------------
.title,
.subtitle {
  color: $white;
}

// ----------------------------------------------------------------------------
.title {
  @include intro(title);

  margin: 0 0 0 6%;

  font-weight: $font-weight-bold;
  font-size: $font-scale-7;
  font-family: Lusitana, serif;
  line-height: $headings-line-height;
  letter-spacing: 0;

  animation-fill-mode: backwards;

  @include classless($font-loaded-class) {
    font-size: $font-scale-7;
    font-family: serif;
    line-height: $headings-line-height * 1.01;
    word-spacing: 0.8px;
    letter-spacing: 3.5px;

    @media (max-width: 375px), (max-height: 420px) { font-size: $font-scale-6 / 1.02; }
    @media (max-width: 310px), (max-height: 360px) {
      font-size: $font-scale-5 / 1.02;
      letter-spacing: 2.25px;
    }
  }

  @media (max-width: 375px), (max-height: 420px) { font-size: $font-scale-6; }
  @media (max-width: 310px), (max-height: 360px) { font-size: $font-scale-5; }

  @media (max-height: 200px) { display: none; }
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
  .title {
    color: transparent;

    background-image: linear-gradient(-45deg, shade($white, 4%), lighten($white, 2%));

    // stylelint-disable-next-line property-no-vendor-prefix
    -webkit-background-clip: text;
    background-clip: text;
  }
}

// ----------------------------------------------------------------------------
.subtitle {
  @include intro(subtitle);

  position: relative;

  margin: 10px 0 0 6%;

  font-size: $font-scale-2;
  font-family: Oxygen, sans-serif;

  animation-fill-mode: backwards;

  @include classless($font-loaded-class) {
    word-spacing: -0.8px;
    letter-spacing: 0.2px;
  }

  @media (max-width: 375px), (max-height: 360px) { margin-top: 10px; }

  @media (max-height: 360px) { font-size: $font-scale-2 * 0.85; }

  @media (max-height: 200px) { display: none; }
}
