@import 'bourbon';

@import '../variables/main';
@import '../variables/animation';
@import '../util';

@import 'reset';
@import 'animations';
@import 'nav';
@import 'plate';

// ----------------------------------------------------------------------------
body {
  margin: 0 auto;
  margin-left: 40px;
  width: calc(100% - 40px);

  color: $black;
  font-weight: $base-font-weight;
  font-family: 'Oxygen', $base-font-family;
  line-height: $base-line-height;
  word-spacing: 0;
  letter-spacing: 0.2px;

  background-image: linear-gradient(174deg, $white, darken($white, 4%));

  overflow-x: hidden;

  @include classless($font-loaded-class) {
    font-family: $base-font-family;
    word-spacing: -0.8px;
    letter-spacing: 0.4px;
  }

  @media (max-width: 525px) {
    margin-left: 20px;
    width: calc(100% - 20px;);
  }

  @media (max-width: 300px) {
    margin-left: 15px;
    width: calc(100% - 15px;);
  }
}

.main {
  position: relative;
  z-index: 13;

  height: calc(90% - 72px);

  @media (max-width: 375px) { height: calc(90% - 48px); }
  @media (max-height: 320px) { height: calc(90% - 48px); }
  @media (max-height: 260px) { height: calc(90% - 36px); }
}
