@import 'bourbon';

@import '../variables/main';
@import '../variables/animation';
@import '../util';

@import 'reset';
@import 'animations';
@import 'header';

// ----------------------------------------------------------------------------
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: $black;
  font-weight: $base-font-weight;
  font-family: 'PT Sans', $base-font-family;
  line-height: $base-line-height;
  word-spacing: 0;
  letter-spacing: 0;

  background-color: darken($white, 2%);

  @include classless($font-loaded-class) {
    font-family: $base-font-family;
    word-spacing: 0.05px;
    letter-spacing: -0.25px;
  }
}

// ----------------------------------------------------------------------------
.main { padding-top: $spacer-y * 1.6; }


