---
layout:  default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header class="header">
    <h1 class="title" itemprop="name headline">{{ page.title | escape }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}"
          title="{{ page.date | date_to_rfc822 }}"
          class="date date--west"
          itemprop="datePublished">
      {{ page.date | date: "%B %d, %Y" }}
    </time>
  </header>
  <div class="content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
