$intro-duration: 485ms;
$intro-delay: 64ms;
$intro-easing: cubic-bezier(0.81, 0.15, 0.26, 0.99);

$title-intro: (
  name: title-intro,
  duration: $intro-duration,
  delay: $intro-delay,
  easing: $intro-easing
);

$intro: (
  header: (
    name: header-intro,
    duration: $intro-duration,
    delay: $intro-delay,
    easing: $intro-easing
  ),
  title: $title-intro,
  subtitle: $title-intro,
);
