.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  flex-shrink: 0;

  margin-bottom: $spacer-y;
  height: 100%;

  @include intro(header);
  animation-fill-mode: backwards;
}

// ----------------------------------------------------------------------------
.title {
  margin: 0;

  font: {
    style: italic;
    weight: $font-weight-bold;
    size: $font-scale-7;
    family: 'Playfair Display', serif;
  }

  line-height: $headings-line-height;
  word-spacing: 0;
  letter-spacing: 0;

  @include classless($font-loaded-class) {
    font: {
      size: $font-scale-7 * 1.08;
      family: serif;
    }

    line-height: $headings-line-height / 1.1;
    word-spacing: 0.8px;
    letter-spacing: -0.15px;
  }

  @include intro(title);
  animation-fill-mode: backwards;
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
  .title {
    color: transparent;

    background-image: linear-gradient(-45deg, $black, lighten($black, 10%));

            background-clip: text;
    -webkit-background-clip: text;
  }
}

// ----------------------------------------------------------------------------
.subtitle {
  margin-bottom: 0;

  font-size: $font-scale-2;

  @include classless($font-loaded-class) { font-size: $font-scale-2 * 0.9; }

  @include intro(subtitle);
  animation-fill-mode: backwards;
}
