.yinyang {
  padding: 1px 4px;
  cursor: pointer;
  will-change: contents;
}

// ----------------------------------------------------------------------------
::selection {
  color: $white;
  text-shadow: none;
  background-color: #5050e6;
}
