*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;

  text-size-adjust: 100%;
  font-size: $base-font-size;
}

// ----------------------------------------------------------------------------
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: $spacer-y;
}

// ----------------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $headings-margin-bottom;

  color: $headings-color;
  font-weight: $headings-font-weight;
  font-family: $headings-font-family;
  line-height: $headings-line-height;
}
