$intro-duration: 460ms;
$intro-delay: 32ms;
$intro-easing: cubic-bezier(0.31, 0.42, 0.26, 0.99);

$plate-intro: (
  name: plate-intro,
  duration: $intro-duration,
  delay: $intro-delay * 1.9,
  easing: $intro-easing
);

$title-intro: (
  name: (title-intro, fade-in),
  duration: $intro-duration,
  delay: $intro-delay * 1.9 + ($intro-duration / 2),
  easing: $intro-easing
);

// stylelint-disable value-list-max-empty-lines, function-max-empty-lines
$intro: (
  caption: (
    name: fade-in,
    duration: $intro-duration * 1.45,
    delay: $intro-delay,
    easing: $intro-easing
  ),

  header: (
    name: fade-in,
    duration: $intro-duration * 0.66,
    delay: $intro-delay,
    easing: $intro-easing
  ),

  plate: $plate-intro,
  plate-background: map-merge($plate-intro, (name: plate-background-intro)),

  title: $title-intro,
  subtitle: map-merge($title-intro, (delay: map-get($title-intro, delay) + $intro-delay)),

  links-border: (
    name: (fade-in, links-border-intro),
    duration: $intro-duration * 1.5,
    delay: $intro-delay * 2,
    easing: cubic-bezier(0, 0.75, 0.34, 1)
  )
);
// stylelint-enable value-list-max-empty-lines
